
.carteClient{
    
    width: 550px;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 18px;
}

.InfoClient{
  flex: 1.5;
    margin-top: 18px;
}
p > a{
  color: black;
  }
  
.lienModifier{
  width: 80px;
  text-decoration: none;
  color: white;
  border-radius: 0 10px 10px 0;
  background-color: #333;
  align-content: center;
  text-align: center;
}