<header>
    <h1>Gestion des commandes</h1>
    <nav>
        <a href="#">Clients</a>
        <a href="#">Produits</a>
        <a href="#">Commandes</a>
        <a href="#">LogOut</a>
    </nav>
    <a href="./formulaire" (click)="onCreerClick($event)">Créer</a>
    <p>User: 1</p>
</header>
<main>
    <div id="allCarte" *ngIf="orderList.length && productList.length && customerList.length; else loading">
    <!-- Your existing content that depends on orderList and productList -->
    <app-carte-commande *ngFor="let order of orderList" [order]="order" [product]="productList" [customer]="customerList"></app-carte-commande>
  </div>
  <ng-template #loading>
    <p>Loading...</p>
  </ng-template>
</main>
<footer>
    <p>&copy; Quentin, Mohammed, Amadou</p>
</footer>