<header>
    <h1><a href="./clients">Revenir en arrière</a></h1>
    <nav>
        <a href="./formulaire-client" (click)="onCreerClick($event)">Créer un client</a>
        <a href="./clients" class="active">Clients</a> <!-- Modification du lien -->
        <a href="./produits">Produits</a>
        <a href="./commandes">Commandes</a>
        <a href="#">LogOut</a>
    </nav>
    <p>User: 1</p>
</header>

<!-- Formulaire de création d'un client -->
<form [formGroup]="createClientForm" class="block shadow" [ngClass]="{'hidden': !isCreateFormVisible}" (ngSubmit)="onCreateSubmit()">
    <div>
        <h2>Créer un client</h2>
    </div>
    <div>
        <label for="name">Nom du client:</label>
        <input type="text" id="name" name="name" formControlName="name" required>
    </div>
    <div>
        <label for="email">Email du client:</label>
        <input type="email" id="email" name="email" formControlName="email" required>
    </div>
    <div>
        <label for="phone">Téléphone du client:</label>
        <input type="text" id="phone" name="phone" formControlName="phone" required>
    </div>
    <div>
        <label for="address">Adresse du client:</label>
        <input type="text" id="address" name="address" formControlName="address" required>
    </div>
    <div *ngIf="createErrorMessage" class="error">{{ createErrorMessage }}</div>
    <div *ngIf="createSuccessMessage" class="success">{{ createSuccessMessage }}</div>
    <button type="submit" [disabled]="createClientForm.invalid">Créer</button>
</form>

<!-- Formulaire de modification d'un client -->
<form [formGroup]="editClientForm" class="block shadow" [ngClass]="{'hidden': !isModifierFormVisible}" (ngSubmit)="onEditSubmit()">
    <div>
        <h2>Modifier un client</h2>
    </div>
    <div>
        <label for="name">Nom du client:</label>
        <input type="text" id="name" name="name" formControlName="name" required>
    </div>
    <div>
        <label for="email">Email du client:</label>
        <input type="email" id="email" name="email" formControlName="email" required>
    </div>
    <div>
        <label for="phone">Téléphone du client:</label>
        <input type="text" id="phone" name="phone" formControlName="phone" required>
    </div>
    <div>
        <label for="address">Adresse du client:</label>
        <input type="text" id="address" name="address" formControlName="address" required>
    </div>
    <div *ngIf="editErrorMessage" class="error">{{ editErrorMessage }}</div>
    <div *ngIf="editSuccessMessage" class="success">{{ editSuccessMessage }}</div>
    <button type="submit" [disabled]="editClientForm.invalid">Modifier</button>
    <button type="button" (click)="onDelClient()" class="del-button">Supprimer le client</button>
</form>

<footer>
    <p>&copy; Quentin, Mohammed, Amadou</p>
</footer>
