<!-- Premiere carte de commande -->
 
<div class="carteCommande">
    <p>Numéro Commande:{{order.id}}</p>
    <div class="InfoProduit">
    <a href="#" >nom produit: {{productRelier?.name}}</a>
    <p>Nombre en stock: {{productRelier?.stock}} </p>
</div>
<div class="InfoClient">
    <p>Date de commande: {{order.createdAt}}</p>
    <a href="#">Nom client: {{customerRelier?.name}}</a>
    <p>Adresse Livraison:{{customerRelier?.address}}</p>
    <p>Quantité Commandé: {{order.quantity}}</p> 
</div>
<a href="./formulaire">Modifier</a>
</div>
