<header>
    <h1><a href="./commandes">Revenir en arrière</a></h1>
    <nav>
        
    <a href="./formulaire" (click)="onCreerClick($event)">Créer</a>
        <a href="#">Clients</a>
        <a href="#">Produits</a>
        <a href="#">Commandes</a>
        <a href="#">LogOut</a>
    </nav>
    <p>User: 1</p>
</header>
<form class=" block shadow" [ngClass]="{'hidden': !isCreateFormVisible}">
    <div>
    <h1>Créer</h1>
    <div>
        <label for="customerName">Nom du client:</label>
        <input type="text" id="customerName" name="customerName" required>
    </div>
    <div>
        <label for="customerAddress">Adresse du client:</label>
        <input type="text" id="customerAddress" name="customerAddress" required>
    </div>
    <div>
        <label for="orderedProduct">Produit Commander:</label>
        <input type="text" id="orderedProduct" name="orderedProduct" required>
    </div>
    <div>
        <label for="orderAmount">Quantité commander:</label>
        <input type="number" id="orderAmount" name="orderAmount" required>
    </div>
</div>
    <button type="submit">Créer la commande</button>
    
</form>

<form class=" block shadow" [ngClass]="{'hidden': !isModifierFormVisible}">
    <div>
    <h1>Modifier</h1>
    <div>
        <label for="customerName">Nom du client: </label>
        <input type="text" id="customerName" name="customerName" [(ngModel)]="name" required>
    </div>
    <div>
        <label for="customerAddress">Adresse du client:</label>
        <input type="text" id="customerAddress" name="customerAddress" [(ngModel)]="address" required>
    </div>
    <div>
        <label for="orderDate">Date de commande:</label>
        <input type="datetime-local" id="orderDate" name="orderDate" [(ngModel)]="selectedDatetime" required>
    </div>
    <div>
        <label for="orderedProduct">Produit Commander:</label>
        <input type="text" id="orderedProduct" name="orderedProduct" [(ngModel)]="product" required>
    </div>
    <div>
        <label for="orderAmount">Quantité commander:</label>
        <input type="number" id="orderAmount" name="orderAmount" [(ngModel)]="quantity" required>
    </div>
</div>
    
    <button type="submit">Modifier la commande</button>
</form>
<footer>
    <p>&copy; Quentin, Mohammed, Amadou</p>
</footer>