<header>
    <h1><a href="./commandes">Revenir en arrière</a></h1>
    <nav>
        <a href="./formulaire" (click)="onCreerClick($event)">Créer une commande</a>
        <a href="./clients">Clients</a>
        <a href="./produits">Produits</a>
        <a href="./commandes">Commandes</a>
        <a href="#">LogOut</a>
    </nav>
    <p>User: 1</p>
</header>

<!-- Formulaire de création -->
<form [formGroup]="createOrderForm" class="block shadow" [ngClass]="{'hidden': !isCreateFormVisible}" (ngSubmit)="onCreateSubmit()">
    <div>
        <h2>Créer une commande</h2>
    </div>
    <div>
        <label for="customerId">Id du client:</label>
        <input type="number" id="customerId" name="customerId" formControlName="customerId" required>
    </div>
    <div>
        <label for="orderedProduct">Id du produit Commandé:</label>
        <input type="number" id="orderedProduct" name="orderedProduct" formControlName="productId" required>
    </div>
    <div>
        <label for="orderAmount">Quantité commandée:</label>
        <input type="number" id="orderAmount" name="orderAmount" formControlName="quantity" required>
    </div>
    <div *ngIf="createErrorMessage" class="error">{{ createErrorMessage }}</div>
    <div *ngIf="createSuccessMessage" class="success">{{ createSuccessMessage }}</div>
    <button type="submit" [disabled]="createOrderForm.invalid">Créer</button>
</form>

<!-- Formulaire de modification -->
<form [formGroup]="editOrderForm" class="block shadow" [ngClass]="{'hidden': !isModifierFormVisible}" (ngSubmit)="onEditSubmit()">
    <div>
        <h2>Modifier une commande</h2>
    </div>
    <div>
        <label for="customerId">Id du client:</label>
        <input type="number" id="customerId" name="customerId" formControlName="customerId" required>
    </div>
    <div>
        <label for="orderedProduct">Id du produit Commandé:</label>
        <input type="number" id="orderedProduct" name="orderedProduct" formControlName="productId" required>
    </div>
    <div>
        <label for="orderAmount">Quantité commandée:</label>
        <input type="number" id="orderAmount" name="orderAmount" formControlName="quantity" required>
    </div>
    <div *ngIf="editErrorMessage" class="error">{{ editErrorMessage }}</div>
    <div *ngIf="editSuccessMessage" class="success">{{ editSuccessMessage }}</div>
    <button type="submit" [disabled]="editOrderForm.invalid">Modifier</button>
    <button type="button" (click)="onCancelOrder()" class="cancel-button">Annuler la commande</button>
</form>

<footer>
    <p>&copy; Quentin, Mohammed, Amadou</p>
</footer>
