<!-- Premiere carte de commande -->
<div class="carteCommande">
    <p>Numéro Commande:1</p>
    <div class="InfoProduit">
    <a>Nom produit:</a>
    <p>Prix:</p>
    <p>Nombre en stock:</p>
</div>
<div class="InfoClient">
    <p>Date de commande:</p>
    <a>Nom client:</a>
    <p>Adresse Livraison:</p>
    <p>Quantité Commandé:</p> 
</div>
<a>Modifier</a>
</div>
<!-- Deuxième carte de commande -->
<div class="carteCommande">
    <p>Numéro Commande:2</p>
    <div class="InfoProduit">
    <a>Nom produit:</a>
    <p>Prix:</p>
    <p>Nombre en stock:</p>
</div>
<div class="InfoClient">
    <p>Date de commande:</p>
    <a>Nom client:</a>
    <p>Adresse Livraison:</p>
    <p>Quantité Commandé:</p>
</div>
<a>Modifier</a>
</div>
<!-- Troisième carte de commande -->
<div class="carteCommande">
    <p>Numéro Commande:3</p>
    <div class="InfoProduit">
    <a>Nom produit:</a>
    <p>Prix:</p>
    <p>Nombre en stock:</p>
</div>
<div class="InfoClient">
    <p>Date de commande:</p>
    <a>Nom client:</a>
    <p>Adresse Livraison:</p>
    <p>Quantité Commandé:</p>
</div>
<a>Modifier</a>
</div>
<!-- Quatrième carte de commande -->
<div class="carteCommande">
    <p>Numéro Commande:4</p>
    <div class="InfoProduit">
    <a>Nom produit:</a>
    <p>Prix:</p>
    <p>Nombre en stock:</p>
</div>
<div class="InfoClient">
    <p>Date de commande:</p>
    <a>Nom client:</a>
    <p>Adresse Livraison:</p>
    <p>Quantité Commandé:</p>
</div>
<a>Modifier</a>
</div>
