<!-- Premiere carte de commande -->
<div class="carteCommande">
    <p>id:1</p>
    <div class="InfoProduit">
    <p>Nom produit:</p>
    <p>Prix:</p>
    <p>Nombre en stock:</p>
    <p>Image?</p>
</div>
<div class="InfoClient">
    <p>Numéro Commande:</p>
    <p>Nom client:</p>
    <p>Quantité Commandé:</p>
</div>
<p>Modifier</p>
</div>
<!-- Deuxième carte de commande -->
<div class="carteCommande">
    <p>id:2</p>
    <div class="InfoProduit">
    <p>Nom produit:</p>
    <p>Prix:</p>
    <p>Nombre en stock:</p>
    <p>Image?</p>
</div>
<div class="InfoClient">
    <p>Numéro Commande:</p>
    <p>Nom client:</p>
    <p>Quantité Commandé:</p>
</div>
<p>Modifier</p>
</div>
<!-- Troisième carte de commande -->
<div class="carteCommande">
    <p>id:3</p>
    <div class="InfoProduit">
    <p>Nom produit:</p>
    <p>Prix:</p>
    <p>Nombre en stock:</p>
    <p>Image?</p>
</div>
<div class="InfoClient">
    <p>Numéro Commande:</p>
    <p>Nom client:</p>
    <p>Quantité Commandé:</p>
</div>
<p>Modifier</p>
</div>
<!-- Quatrième carte de commande -->
<div class="carteCommande">
    <p>id:4</p>
    <div class="InfoProduit">
    <p>Nom produit:</p>
    <p>Prix:</p>
    <p>Nombre en stock:</p>
    <p>Image?</p>
</div>
<div class="InfoClient">
    <p>Numéro Commande:</p>
    <p>Nom client:</p>
    <p>Quantité Commandé:</p>
</div>
<p>Modifier</p>
</div>
