<header>
    <h1><a href="./produits">Revenir en arrière</a></h1>
    <nav>
        <a href="./formulaire-produit" (click)="onCreerClick($event)">Créer un produit</a>
        <a href="./clients">Clients</a>
        <a href="./produits">Produits</a>
        <a href="./commandes">Commandes</a>
        <a href="#">LogOut</a>
    </nav>
    <p>User: 1</p>
</header>

<!-- Formulaire de création de produit -->
<form [formGroup]="createProductForm" class="block shadow" [ngClass]="{'hidden': !isCreateFormVisible}" (ngSubmit)="onCreateSubmit()">
    <div>
        <h2>Créer un produit</h2>
    </div>
    <div>
        <label for="productName">Nom du produit :</label>
        <input type="text" id="productName" name="productName" formControlName="name" required>
    </div>
    <div>
        <label for="productStock">Quantité en stock :</label>
        <input type="number" id="productStock" name="productStock" formControlName="stock" required>
    </div>
    <div *ngIf="createErrorMessage" class="error">{{ createErrorMessage }}</div>
    <div *ngIf="createSuccessMessage" class="success">{{ createSuccessMessage }}</div>
    <button type="submit" [disabled]="createProductForm.invalid">Créer</button>
</form>

<!-- Formulaire de modification de produit -->
<form [formGroup]="editProductForm" class="block shadow" [ngClass]="{'hidden': !isModifierFormVisible}" (ngSubmit)="onEditSubmit()">
    <div>
        <h2>Modifier un produit</h2>
    </div>
    <div>
        <label for="productName">Nom du produit :</label>
        <input type="text" id="productName" name="productName" formControlName="name" required>
    </div>
    <div>
        <label for="productStock">Quantité en stock :</label>
        <input type="number" id="productStock" name="productStock" formControlName="stock" required>
    </div>
    <div *ngIf="editErrorMessage" class="error">{{ editErrorMessage }}</div>
    <div *ngIf="editSuccessMessage" class="success">{{ editSuccessMessage }}</div>
    <button type="submit" [disabled]="editProductForm.invalid">Modifier</button>
    <button type="button" (click)="onDelProduct()" class="del-button">Supprimer le produit</button>
</form>

<footer>
    <p>&copy; Quentin, Mohammed, Amadou</p>
</footer>
