<header>
    <h1><a href="./dashboard">Gestion des clients</a></h1>
    
    <nav>
        <a href="./formulaire-client" (click)="onCreerClick($event)">Créer un client</a>
        <a href="./clients">Clients</a>
        <a href="./produits">Produits</a>
        <a href="./commandes">Commandes</a>
        <a href="#">LogOut</a>
    </nav>
    <p>User: 1</p>
</header>

<main>
    <div id="allCarte" *ngIf="customerList.length; else loading">
        <!-- Your existing content that depends on customerList -->
        <app-carte-client *ngFor="let customer of customerList" [customer]="customer"></app-carte-client>
    </div>
    <ng-template #loading>
        <p>Loading...</p>
    </ng-template>
</main>

<footer>
    <p>&copy; Quentin, Mohammed, Amadou</p>
</footer>
