
#allCarte{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
app-carte-client{
    margin-top: 100px;
    max-width: 100vw;
}
footer{  
    background-color: #333;
    font-size: 0.8rem;
    min-width: 100%;
    position: fixed;
    padding: 0;
    bottom:0;
    color: white;
}
a{
    color: white;
    text-decoration: none;
}