
<header>
    <div class="header-container">
        <h2>ERP QAM</h2>
        <!-- Menu de navigation -->
        <nav>       
            <a href="./clients">Gestion clients</a>
            <a href="./produits">Gestion produits</a>
            <a href="./commandes">Gestion commandes</a>
            <a href="#">Gestion utilisateurs</a>
            
        </nav>
        <div class="logout"><a href="#">Logout</a></div>
    </div>
</header>

<!-- Contenu principal -->

<div class="dashboard">

    <div class="stat-section">
      <h2>Nombre total de commandes par client</h2>
      <ul>
        <li *ngFor="let customer of customers">
          Client ID: {{ customer.id }} {{ customer.name }}- Nombre de commandes: {{ calculateOrdersByCustomer(customer)}}
        </li>
      </ul>
    </div>
  
    <div class="stat-section">
      <h2>Nombre total de commandes par produit</h2>
      <ul>
        
        <li *ngFor="let productId of objectKeys(ordersByProduct)">
          Produit ID: {{ productId }} - Nombre de commandes: {{ ordersByProduct[+productId] }}
        </li>
       
      </ul>
    </div>
  </div>

<!-- Footer fixe -->
<footer>
    <div class="footer-container">
        <p>&copy; 2024 Q.A.M. Tous droits réservés.</p>
    </div>
</footer>


