<header>
  <h1>Gestion des produits</h1>
  <nav>
    <a href="./formulaire-produit" (click)="onCreerClick($event)">Créer un produit</a>
    <a href="#">Clients</a>
    <a href="./produits">Produits</a>
    <a href="./commandes">Commandes</a>
    <a href="#">LogOut</a>
  </nav>
  <p>User: 1</p>
</header>

<main>
  <div id="allCarte" *ngIf="productList.length; else loading">
    <!-- Affichage des cartes produits -->
    <app-carte-produit *ngFor="let product of productList" [product]="product"></app-carte-produit>
  </div>
  <ng-template #loading>
    <p>Chargement...</p>
  </ng-template>
</main>

<footer>
  <p>&copy; Quentin, Mohammed, Amadou</p>
</footer>
